# --- DATABASE CONFIGURATION ---
DB_USER=admin
DB_PASSWORD=my_very_secure_password_123
DB_NAME=smartstock_db
DB_PORT=5432

# Run backend in Docker: db
# Run backend locally: localhost
DB_HOST=db

DATABASE_URL=postgresql+asyncpg://admin:my_very_secure_password_123@localhost:5432/smartstock_db

# -- FRONTEND --
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXTAUTH_SECRET=paste-output-from-openssl-here

# --- OTHER SETTINGS ---
APP_NAME="SmartStockAI"
DEBUG=True