# --- IDE & Editors ---
.vscode/
.idea/
.cursorignore
.cursorindexingignore
*.swp
*.swo

# --- OS specific files ---
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini

# --- Docker & Database ---
postgres_data/
*.log
docker-compose.override.yml

# --- Common Env (Optional if you have root env) ---
.env
.env.local

# --- Global Dependency Folders (Safety net) ---
node_modules/
venv/
.venv/
__pycache__/