python-dotenv
fastapi
uvicorn[standard]

sqlmodel
alembic
psutil
asyncpg
psycopg[binary,pool]
pydantic-settings
python-multipart

langchain
langchain-google-genai
google-cloud-documentai
rapidfuzz

python-jose[cryptography]
passlib[bcrypt]